In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('other_files/CleanedDataV2.csv')
df.head()

,NBHD,PID,Situs,PrpCls,PrUse,CDU,Qual,YrRD,Remd,Imp,...,HSA_Acres,HSALandValue,TotAcres,V/I,Inst#,SaleDate,SaleQuarter,SaleYear,Price,SaleValidity
0,7HST242,09-13-434-003-000,2525 RIDGE RD,R1,1,4,6,NR,NR,R2,...,NaN,NaN,1.30,I,2016017053,5/5/2016,2,1,2122450.0,1
1,7HSE361,16-11-404-012-000,5330 S 93RD PL,R1,1,4,6,NR,NR,RA,...,NaN,NaN,0.78,I,2022024921,6/2/2022,2,7,1950000.0,1
2,7HSE361,16-11-404-013-000,5410 S 93RD PL,R1,1,4,5,NR,NR,RA,...,NaN,NaN,0.73,I,2021068025,11/11/2021,4,6,1875000.0,1
3,7AEA310,23-31-416-001-000,11737 SEABISCUIT LN,R1,12,4,5,NR,NR,RA,...,2.03,12180.0,3.03,I,2022028838,6/25/2022,2,7,1850000.0,1
4,7HST242,09-13-402-005-000,2421 RIDGE RD,R1,1,5,5,2022,6,RA,...,NaN,NaN,0.58,I,2022024045,6/1/2022,2,7,1800000.0,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35107 entries, 0 to 35106
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NBHD          35107 non-null  object
 1   PID           35107 non-null  object
 2   Situs         35107 non-null  object
 3   PrpCls        35107 non-null  object
 4   PrUse         35107 non-null  int64
 5   CDU           35107 non-null  int64
 6   Qual          35107 non-null  int64
 7   YrRD          35107 non-null  object
 8   Remd          35107 non-null  object
 9   Imp           35107 non-null  object
 10  TLA           35107 non-null  int64
 11  YrBlt         35107 non-null  int64
 12  GarCap        35107 non-null  int64
 13  Bedrm         35106 non-null  float64
 14  FND           35102 non-null  float64
 15  801Units      35107 non-null  int64
 16  802Units      35107 non-null  int64
 17  803Units      35107 non-null  int64
 18  FP            35107 non-null  int64
 19  FixCt         35107 non-null  int64
 20  Pool          35107 non-null  int64
 21  LandType      35107 non-null  object
 22  Acres         1227 non-null   float64
 23  LandValue     35107 non-null  int64
 24  Infl1         35107 non-null  object
 25  Infl2         35107 non-null  object
 26  HSA_Acres     969 non-null    float64
 27  HSALandValue  968 non-null    float64
 28  TotAcres      34331 non-null  float64
 29  V/I           35102 non-null  object
 30  Inst#         35107 non-null  int64
 31  SaleDate      35107 non-null  object
 32  SaleQuarter   35107 non-null  int64
 33  SaleYear      35107 non-null  int64
 34  Price         35107 non-null  float64
 35  SaleValidity  35107 non-null  int64
dtypes: float64(7), int64(17), object(12)
memory usage: 9.6+ MB

In [8]:
num_df = df.select_dtypes(include=np.number)

In [9]:
num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35107 entries, 0 to 35106
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PrUse         35107 non-null  int64
 1   CDU           35107 non-null  int64
 2   Qual          35107 non-null  int64
 3   TLA           35107 non-null  int64
 4   YrBlt         35107 non-null  int64
 5   GarCap        35107 non-null  int64
 6   Bedrm         35106 non-null  float64
 7   FND           35102 non-null  float64
 8   801Units      35107 non-null  int64
 9   802Units      35107 non-null  int64
 10  803Units      35107 non-null  int64
 11  FP            35107 non-null  int64
 12  FixCt         35107 non-null  int64
 13  Pool          35107 non-null  int64
 14  Acres         1227 non-null   float64
 15  LandValue     35107 non-null  int64
 16  HSA_Acres     969 non-null    float64
 17  HSALandValue  968 non-null    float64
 18  TotAcres      34331 non-null  float64
 19  Inst#         35107 non-null  int64
 20  SaleQuarter   35107 non-null  int64
 21  SaleYear      35107 non-null  int64
 22  Price         35107 non-null  float64
 23  SaleValidity  35107 non-null  int64
dtypes: float64(7), int64(17)
memory usage: 6.4 MB

In [11]:
print(num_df.columns)

Index(['PrUse', 'CDU', 'Qual', 'TLA', 'YrBlt', 'GarCap', 'Bedrm', 'FND',
       '801Units', '802Units', '803Units', 'FP', 'FixCt', 'Pool', 'Acres',
       'LandValue', 'HSA_Acres', 'HSALandValue', 'TotAcres', 'Inst#',
       'SaleQuarter', 'SaleYear', 'Price', 'SaleValidity'],
      dtype='object')

In [12]:
num_df.drop(columns=['Acres','HSA_Acres','HSALandValue'],inplace=True)

c:\Users\ymehr\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [14]:
num_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35107 entries, 0 to 35106
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PrUse         35107 non-null  int64
 1   CDU           35107 non-null  int64
 2   Qual          35107 non-null  int64
 3   TLA           35107 non-null  int64
 4   YrBlt         35107 non-null  int64
 5   GarCap        35107 non-null  int64
 6   Bedrm         35106 non-null  float64
 7   FND           35102 non-null  float64
 8   801Units      35107 non-null  int64
 9   802Units      35107 non-null  int64
 10  803Units      35107 non-null  int64
 11  FP            35107 non-null  int64
 12  FixCt         35107 non-null  int64
 13  Pool          35107 non-null  int64
 14  LandValue     35107 non-null  int64
 15  TotAcres      34331 non-null  float64
 16  Inst#         35107 non-null  int64
 17  SaleQuarter   35107 non-null  int64
 18  SaleYear      35107 non-null  int64
 19  Price         35107 non-null  float64
 20  SaleValidity  35107 non-null  int64
dtypes: float64(4), int64(17)
memory usage: 5.6 MB

In [16]:
str_df = df.select_dtypes(include='object')
str_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35107 entries, 0 to 35106
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NBHD      35107 non-null  object
 1   PID       35107 non-null  object
 2   Situs     35107 non-null  object
 3   PrpCls    35107 non-null  object
 4   YrRD      35107 non-null  object
 5   Remd      35107 non-null  object
 6   Imp       35107 non-null  object
 7   LandType  35107 non-null  object
 8   Infl1     35107 non-null  object
 9   Infl2     35107 non-null  object
 10  V/I       35102 non-null  object
 11  SaleDate  35107 non-null  object
dtypes: object(12)
memory usage: 3.2+ MB

In [17]:
str_df.head()

,NBHD,PID,Situs,PrpCls,YrRD,Remd,Imp,LandType,Infl1,Infl2,V/I,SaleDate
0,7HST242,09-13-434-003-000,2525 RIDGE RD,R1,NR,NR,R2,RPIW,1,NC,I,5/5/2016
1,7HSE361,16-11-404-012-000,5330 S 93RD PL,R1,NR,NR,RA,RPSW,NC,9,I,6/2/2022
2,7HSE361,16-11-404-013-000,5410 S 93RD PL,R1,NR,NR,RA,RPIW,NC,NC,I,11/11/2021
3,7AEA310,23-31-416-001-000,11737 SEABISCUIT LN,R1,NR,NR,RA,RHS,NC,NC,I,6/25/2022
4,7HST242,09-13-402-005-000,2421 RIDGE RD,R1,2022,6,RA,RPIW,NC,NC,I,6/1/2022

In [23]:
for col in str_df.columns:
    types = len(str_df[col].unique())
    if types < 100:
        one_hot_df = pd.get_dummies(str_df[col])
        str_df = str_df.join(one_hot_df)
        print(str_df.head())

      NBHD                PID                    Situs PrpCls  YrRD Remd Imp  \
0  7HST242  09-13-434-003-000        2525   RIDGE RD       R1    NR   NR  R2
1  7HSE361  16-11-404-012-000         5330 S 93RD PL       R1    NR   NR  RA
2  7HSE361  16-11-404-013-000         5410 S 93RD PL       R1    NR   NR  RA
3  7AEA310  23-31-416-001-000  11737   SEABISCUIT LN       R1    NR   NR  RA
4  7HST242  09-13-402-005-000        2421   RIDGE RD       R1  2022    6  RA

  LandType Infl1 Infl2 V/I    SaleDate  R1
0     RPIW     1    NC   I    5/5/2016   1
1     RPSW    NC     9   I    6/2/2022   1
2     RPIW    NC    NC   I  11/11/2021   1
3      RHS    NC    NC   I   6/25/2022   1
4     RPIW    NC    NC   I    6/1/2022   1
      NBHD                PID                    Situs PrpCls  YrRD Remd Imp  \
0  7HST242  09-13-434-003-000        2525   RIDGE RD       R1    NR   NR  R2
1  7HSE361  16-11-404-012-000         5330 S 93RD PL       R1    NR   NR  RA
2  7HSE361  16-11-404-013-000         5410 S 93RD PL       R1    NR   NR  RA
3  7AEA310  23-31-416-001-000  11737   SEABISCUIT LN       R1    NR   NR  RA
4  7HST242  09-13-402-005-000        2421   RIDGE RD       R1  2022    6  RA

  LandType Infl1 Infl2  ... 2014 2015  2016  2017  2018  2019  2020  2021  \
0     RPIW     1    NC  ...    0    0     0     0     0     0     0     0
1     RPSW    NC     9  ...    0    0     0     0     0     0     0     0
2     RPIW    NC    NC  ...    0    0     0     0     0     0     0     0
3      RHS    NC    NC  ...    0    0     0     0     0     0     0     0
4     RPIW    NC    NC  ...    0    0     0     0     0     0     0     0

   2022  NR
0     0   1
1     0   1
2     0   1
3     0   1
4     1   0

[5 rows x 57 columns]

ValueError: columns overlap but no suffix specified: Index(['NR'], dtype='object')